@page "/Registro"
@inject HttpClient httpClient

<EditForm Model="pruebaId" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header">
				<h3>Registro de Entradas</h3>
			</div>
			<div class="card-body">
				@*Buscar*@
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
					<label>EntradaId</label>
					<div class="input-group mb-3">
						<InputNumber @bind-Value="Entradas.EntradaId" class="form-control" aria-describedby="buscarButton" />
						<button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
							<i class="oi oi-magnifying-glass" />
						</button>
					</div>
				</div>

				@*Fecha*@
				<div class="col-4">
					<label class="form-laber">Fecha</label>
					<InputDate @bind-Value="Entradas.Fecha" class="form-control"></InputDate>
					<ValidationMessage For="@(() => Entradas.Fecha)" />
				</div>

				@*Concepto*@
				<div class="mb-3">
					<label class="form-label">Concepto</label>
					<InputText @bind-Value="Entradas.Concepto" class="form-control"></InputText>
					<ValidationMessage For="@(() => Entradas.Concepto)" />
				</div>

				@*DETALLE*@
				<fieldset class="border-success border border-1">
					<div class="card-header">
						<h3>Utilizados</h3>
					</div>
					<div class="row m-1">
						@*Productos*@
						<div class="col-8">
							<label>Tipo Entradas:</label>
							<InputSelect class="form-select" @bind-Value="FrutoSeleccionado">
								<option value="0" disabled selected> [Seleccione] </option>
								@foreach (var tipo in FrutosList)
								{
									<option value="@tipo.FrutoId"> "@tipo.Nombre" </option>
								}
							</InputSelect>
						</div>

						@*CantidadUtilizada*@
						<div class="col-2">
							<label>CantidadUtilizada:</label>
							<InputNumber class="form-control" @bind-Value="Detalle.CantidadUtilizada"></InputNumber>
						</div>

						@*Boton Agregar*@
						<div class="col-2">
							<br>
							<button type="button" class="btn btn-primary input-group-text" @onclick="AgregarDetalle">
								<span class="oi oi-plus">Agregar</span>
							</button>
						</div>
						@if (ValidacionDetalle.Length > 0)
						{
							<label class="text-danger">@ValidacionDetalle</label>
						}
					</div>

					@*Tabla de detalles*@
					<hr />
					<table class="table table-bordered table-light m-1">
						<thead class="thead">
							<tr class="table">
								<th>Entradas</th>
								<th>Descripci&oacuten</th>
								<th>CantidadUtilizada</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var detalle in Entradas.EntradasDetalles)
							{
								<tr>
									<td>@detalle.ProductoId</td>

									@*<td>@(DescripcionTipo(detalle.EntradaId))</td>*@
									<td>@detalle.CantidadUtilizada</td>
									<td> <button @onclick="@(() => RemoverDetalle(detalle))"><i class="oi oi-trash" /> Eliminar</button>   </td>
								</tr>
							}
						</tbody>

						<div class="row justify-content-between">
							<div class="col-8">
								<label>Peso Total</label>
								<div class="input-group mb-3">
									<span class="form-control">@Entradas.EntradasDetalles.Count()</span>
								</div>
							</div>
						</div>
					</table>
					<hr />
				</fieldset>

				<hr />

				<fieldset class="border-success border border-1">
					<div class="card-header">
						<h3>Producido</h3>
					</div>
					<div class="row m-1">
						@*Entradas*@
						<div class="col-8">
							<label>Entradas:</label>
							<InputNumber class="form-control" @bind-Value="Detalle.DetalleId"></InputNumber>
						</div>

						@*CantidadUtilizada*@
						<div class="col-2">
							<label>CantidadUtilizada:</label>
							<InputNumber class="form-control" @bind-Value="Detalle.CantidadUtilizada"></InputNumber>
						</div>
					</div>
				</fieldset>
			</div>

			<div class="card-footer d-flex justify-content-center">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
					<button type="submit" class="btn btn-outline-success"> <i class="oi oi-document" /> Guardar</button>
					<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="io io-trash" /> Eliminar</button>
				</div>
			</div>
		</div>
	</div>
	@if (Mensaje.Length > 0)
	{
		<label class="text-danger">@Mensaje</label>
	}
</EditForm>

@code {

	public int pruebaId { get; set; }
	public int EntradaId { get; set; }
	public int FrutoId { get; set; }
	public int ProductoId { get; set; }

	public Entradas Entradas { get; set; } = new Entradas();
	public Productos Productos { get; set; } = new Productos();
	public Frutos Frutos { get; set; } = new Frutos();

	public IEnumerable<Frutos> FrutosList { get; set; } = Enumerable.Empty<Frutos>();
	public EntradasDetalle Detalle { get; set; } = new EntradasDetalle();
	public int Productoseleccionado { get; set; } = 0;

	public int FrutoSeleccionado { get; set; } = 0;
	public string NombreFrutoSeleccionado { get; set; } = string.Empty;
	public int Entradaseleccionado { get; set; } = 0;

	public string Mensaje { get; set; } = string.Empty;
	public string ValidacionDetalle { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		if (EntradaId > 0)
		{
			this.Entradas.EntradaId = EntradaId;
			await Buscar();
		}

		await CargarFrutos();

		if (FrutoId > 0)
		{
			this.Frutos.FrutoId = FrutoId;
			await Buscar();
		}
	}
	private async Task CargarFrutos()
	{
		var encontrados = await httpClient.GetFromJsonAsync<IEnumerable<Frutos>>("api/Frutos");
		if (encontrados != null)
			FrutosList = encontrados;
	}

	public async Task Buscar()
	{
		var EntradaEncontrada = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{Entradas.EntradaId}");
		if (EntradaEncontrada != null)
		{
			this.Entradas = EntradaEncontrada;
			StateHasChanged();
		}
		else
		{
			Mensaje = "Entrada no ha sido encontrada";
		}
	}

	public void AgregarDetalle()
	{
		if (!ValidarDetalle())
			return;

		Entradas.EntradasDetalles.Add(new EntradasDetalle()
			{
				FrutoId = FrutoSeleccionado,
				Nombre = NombreFrutoSeleccionado,
			});

		FrutoSeleccionado = 0;
		NombreFrutoSeleccionado = string.Empty;

		StateHasChanged();
	}

	public string DescripcionFruto(int FrutoId)
	{
		var TipoFruto = FrutosList.FirstOrDefault(t => t.FrutoId == FrutoId);
		return TipoFruto!.Nombre;
	}

	public void RemoverDetalle(EntradasDetalle detalleRemover)
	{
		FrutoSeleccionado = detalleRemover.FrutoId;
		NombreFrutoSeleccionado = detalleRemover.Nombre;

		Entradas.EntradasDetalles.Remove(detalleRemover);
	}


	public bool ValidarDetalle()
	{
		ValidacionDetalle = string.Empty;
		if (FrutoSeleccionado <= 0)
		{
			ValidacionDetalle = "Debe de seleccionar un fruto";
		}

		if (String.IsNullOrWhiteSpace(NombreFrutoSeleccionado))
		{
			ValidacionDetalle += "El fruto es obligatorio";
		}

		return ValidacionDetalle.Length == 0;
	}


	public async void Guardar()
	{
		using var response = await httpClient.PostAsJsonAsync("api/Entradas", Entradas);
		if (!response.IsSuccessStatusCode)
		{
			Mensaje = response.ReasonPhrase ?? "Error";
			return;
		}
		var devuelto = await response.Content.ReadFromJsonAsync<Entradas>();
		if (devuelto is not null)
		{
			Entradas = devuelto;
			StateHasChanged();
		}

	}

	public void Nuevo()
	{
		this.Entradas = new Entradas();
		Mensaje = string.Empty;
		ValidacionDetalle = string.Empty;

		FrutoSeleccionado = 0;
		NombreFrutoSeleccionado = string.Empty;
	}

	public async Task Eliminar()
	{
		using var response = await httpClient.DeleteAsync($"api/Entradas/{Entradas.EntradaId}");
		if (!response.IsSuccessStatusCode)
		{
			Mensaje = response.ReasonPhrase ?? "error";
			return;
		}
		else
			Nuevo();
	}
}
